<div class="vertical-menu" id="app-sidebar">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">

                <li class="menu-title" key="t-main">الرئيسية</li>
                <li>
                    <a href="@Url.Action("Index", "Dashboard3")" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span>لوحة التحكم</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "CharityWorkspace")" class="waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span>مساحة العمل اليومية</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "CharityDashboard")" class="waves-effect">
                        <i class="bx bx-pie-chart-alt-2"></i>
                        <span>لوحة مؤشرات الجمعية</span>
                    </a>
                </li>

                <li class="menu-title">العمل الخيري</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span>المستفيدون والمساعدات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "Beneficiaries")">المستفيدون</a></li>
                        <li><a href="@Url.Action("Index", "AidCycles")">دورات الصرف</a></li>
                        <li><a href="@Url.Action("DueList", "AidCycleBeneficiaries")">الاستحقاقات القادمة</a></li>
                        <li><a href="@Url.Action("Index", "BeneficiaryAidRequests")">طلبات المساعدة</a></li>
                        <li><a href="@Url.Action("Index", "BeneficiaryAidDisbursements")">سجل الصرف</a></li>
                        <li><a href="@Url.Action("Index", "BeneficiaryHumanitarianResearchs")">استمارات البحث الإنساني</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-heart"></i>
                        <span>التبرعات والتمويل</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "Donors")">المتبرعون</a></li>
                        <li><a href="@Url.Action("Index", "Donations")">التبرعات</a></li>
                        <li><a href="@Url.Action("Index", "Funders")">الممولون</a></li>
                        <li><a href="@Url.Action("Index", "GrantAgreements")">اتفاقيات التمويل</a></li>
                        <li><a href="@Url.Action("Index", "GrantInstallments")">دفعات التمويل</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-donate-heart"></i>
                        <span>الكفالات والرعاية</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "KafalaSponsors")">الكفلاء</a></li>
                        <li><a href="@Url.Action("Index", "KafalaCases")">حالات الكفالة</a></li>
                        <li><a href="@Url.Action("Index", "KafalaPayments")">مدفوعات الكفالة</a></li>
                        <li><a href="@Url.Action("Index", "AidCycles")">ربط الكفالات بدورات الصرف</a></li>
                    </ul>
                </li>

                <li class="menu-title">المشروعات والمتابعة</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase"></i>
                        <span>المشروعات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "CharityProjects")">المشروعات</a></li>
                        <li><a href="@Url.Action("Index", "ProjectPhases")">مراحل المشروع</a></li>
                        <li><a href="@Url.Action("Timeline", "ProjectPlanning")">Timeline</a></li>
                        <li><a href="@Url.Action("Calendar", "ProjectPlanning")">Calendar</a></li>
                        <li><a href="@Url.Action("Tracking", "ProjectPlanning")">Tracking</a></li>
                        <li><a href="@Url.Action("Board", "ProjectTaskTracking")">Task Board</a></li>
                        <li><a href="@Url.Action("DailyFollowUp", "ProjectTaskTracking")">المتابعة اليومية</a></li>
                        <li><a href="@Url.Action("Index", "ProjectProposals")">مقترحات/مواثيق المشروعات</a></li>
                        <li><a href="@Url.Action("Index", "ProjectAttachments")">مرفقات المشروعات</a></li>
                    </ul>
                </li>

                <li class="menu-title">التطوع والمشاركة</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-group"></i>
                        <span>المتطوعون</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "Volunteers")">المتطوعون</a></li>
                        <li><a href="@Url.Action("Index", "VolunteerDirectory")">دليل المتطوعين</a></li>
                        <li><a href="@Url.Action("Index", "VolunteerSkillDefinitions")">تعريف المهارات</a></li>
                        <li><a href="@Url.Action("Index", "VolunteerProjectAssignments")">إسناد المتطوعين</a></li>
                        <li><a href="@Url.Action("Index", "VolunteerHourLogs")">ساعات التطوع</a></li>
                        <li><a href="@Url.Action("Index", "VolunteerAvailabilitySlots")">أوقات التوفر</a></li>
                    </ul>
                </li>

                <li class="menu-title">المخازن</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-package"></i>
                        <span>إدارة المخازن</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "Items")">الأصناف</a></li>
                        <li><a href="@Url.Action("Index", "Warehouses")">المخازن</a></li>
                        <li><a href="@Url.Action("Index", "CharityStoreReceipts")">أذون الإضافة</a></li>
                        <li><a href="@Url.Action("Index", "CharityStoreIssues")">أذون الصرف</a></li>
                        <li><a href="@Url.Action("Index", "StockNeedRequests")">طلبات الاحتياج</a></li>
                        <li><a href="@Url.Action("Index", "StockReturnVouchers")">المرتجعات</a></li>
                        <li><a href="@Url.Action("Index", "StockDisposalVouchers")">الإعدام والهالك</a></li>
                        <li><a href="@Url.Action("Create", "StockTransfers")">التحويلات المخزنية</a></li>
                        <li><a href="@Url.Action("Index", "StockItemCard")">كارت الصنف</a></li>
                    </ul>
                </li>

                <li class="menu-title">الموارد البشرية</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-id-card"></i>
                        <span>الموارد البشرية والمرتبات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "HrEmployees")">الموظفون</a></li>
                        <li><a href="@Url.Action("Index", "HrAttendanceRecords")">الحضور والانصراف</a></li>
                        <li><a href="@Url.Action("Index", "PayrollMonths")">المرتبات</a></li>
                        <li><a href="@Url.Action("Index", "HrEmployeeMovements")">الحركات الوظيفية</a></li>
                        <li><a href="@Url.Action("Index", "HrSanctionRecords")">الجزاءات</a></li>
                        <li><a href="@Url.Action("Index", "HrOutRequests")">طلبات الخروج</a></li>
                        <li><a href="@Url.Action("Index", "HrPerformanceEvaluations")">تقييم الأداء</a></li>






                        <li class="menu-title">HR حسب الـ RFP</li>

                        <li>
                            <a href="/HrEmployeeContracts">
                                <i data-feather="file-text"></i>
                                <span>عقود الموظفين</span>
                            </a>
                        </li>
                        <li>
                            <a href="/HrEmployeeFundingAssignments">
                                <i data-feather="briefcase"></i>
                                <span>جهات تمويل الموظفين</span>
                            </a>
                        </li>
                        <li>
                            <a href="/HrEmployeeTaskAssignments">
                                <i data-feather="check-square"></i>
                                <span>المهام والتكليفات</span>
                            </a>
                        </li>
                        <li>
                            <a href="/HrEmployeeBonuses">
                                <i data-feather="gift"></i>
                                <span>المكافآت</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-title">المالية والمحاسبة</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-wallet"></i>
                        <span>المالية والمحاسبة</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "Accounting")">الصفحة المحاسبية</a></li>
                        <li><a href="@Url.Action("Index", "FinancialAccount")">الدليل المحاسبي</a></li>
                        <li><a href="@Url.Action("Index", "CostCenters")">مراكز التكلفة</a></li>
                        <li><a href="@Url.Action("Index", "FiscalPeriods")">الفترات المالية</a></li>
                        <li><a href="@Url.Action("Index", "JournalEntries")">القيود اليومية</a></li>
                        <li><a href="@Url.Action("Index", "AccountingReports")">التقارير المحاسبية</a></li>
                        <li><a href="@Url.Action("Index", "AccountingIntegrationProfiles")">Profiles الربط المحاسبي</a></li>
                        <li><a href="@Url.Action("Index", "OperationalJournalEntries")">ربط الحركات بالقيود</a></li>
                    </ul>
                </li>


                <li class="menu-title">المحاضر والقرارات</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-notepad"></i>
                        <span>المحاضر والقرارات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "BoardMeetings")">الاجتماعات</a></li>
                        <li><a href="@Url.Action("Index", "BoardDecisions")">القرارات والتوصيات</a></li>
                        <li><a href="@Url.Action("Index", "BoardDecisionFollowUps")">متابعة تنفيذ القرارات</a></li>
                    </ul>
                </li>

                <li class="menu-title">التقارير والإدارة</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-bar-chart-alt-2"></i>
                        <span>التقارير والتنبيهات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "CharityReports")">التقارير العامة</a></li>
                        <li><a href="@Url.Action("Index", "NotificationCenter")">مركز التنبيهات</a></li>
                        <li><a href="@Url.Action("Index", "WorkflowBoard")"><i class="bx bx-git-branch me-1"></i>لوحة سير العمل</a></li>
                        <li><a href="@Url.Action("Index", "OperationalNotifications")">الإشعارات التشغيلية</a></li>
                        <li><a href="@Url.Action("Index", "AidCycleAlerts")">تنبيهات الصرف الشهري</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-shield-quarter"></i>
                        <span>الإدارة والصلاحيات</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index", "SecurityAdmin")">إدارة الصلاحيات</a></li>
                        <li><a href="@Url.Action("PermissionsMatrix", "Security")">مصفوفة الصلاحيات</a></li>
                    </ul>
                </li>
                <li class="menu-title">تقارير الإدارة والـ RFP</li>
                <li>
                    <a href="/RfpReports" class="waves-effect">
                        <i class="bx bx-line-chart"></i>
                        <span>تقارير الـ RFP</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-bar-chart-alt-2"></i>
                        <span>تقارير المرحلة الأولى</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/RfpReports/ExecutiveDashboard">لوحة تنفيذية</a></li>
                        <li><a href="/RfpReports/HrEmployees">تقرير الموظفين</a></li>
                        <li><a href="/RfpReports/Beneficiaries">تقرير المستفيدين</a></li>
                        <li><a href="/RfpReports/MonthlyAid">تقرير المساعدات الشهرية</a></li>
                        <li><a href="/RfpReports/ProjectsActivities">تقرير المشروعات والأنشطة</a></li>
                        <li><a href="/RfpReports/BoardMeetingsDecisions">تقرير المحاضر والقرارات</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="sub-menu" aria-expanded="false">
                <li>
                    <a asp-controller="DemoData" asp-action="Index">
                        <i class="bx bx-data"></i>
                        <span>البيانات التجريبية</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="QaAudit" asp-action="Index" class="waves-effect">
                        <i class="bx bx-check-shield"></i>
                        <span>فحص النظام</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
