@using Microsoft.AspNetCore.Authorization
@using Skote.Helpers
@inject IAuthorizationService AuthorizationService
@{
    Task<bool> allow(string controller, string action = "Index") => AuthorizationService.CanAccessCharityAsync(User, controller, action);

    var canDashboard = await allow("Dashboard3");
    var canDailySummary = await allow("DailySummary");
    var canTreasuryBank = await allow("TreasuryBank");
    var canSearch = await allow("Search");
    var canWorkspace = await allow("CharityWorkspace");
    var canCharityDashboard = await allow("CharityDashboard");
    var showHome = canDashboard || canDailySummary || canSearch || canWorkspace || canCharityDashboard;
    var canExpenses = await allow("Expenses");
    var canExpenseCategories = await allow("ExpenseCategories");
    var showExpenses = canExpenses || canExpenseCategories;
    var canBeneficiaries = await allow("Beneficiaries");
    var canAidCycles = await allow("AidCycles");
    var canAidDisbursements = await allow("BeneficiaryAidDisbursements");
    var canAidRequests = await allow("BeneficiaryAidRequests");
    var canResearch = await allow("BeneficiaryHumanitarianResearchs");
    var canBeneficiaryCard = await allow("BeneficiaryCard");
    var showBeneficiaries = canBeneficiaries || canAidCycles || canAidDisbursements || canAidRequests || canResearch || canBeneficiaryCard;

    var canDonors = await allow("Donors");
    var canDonations = await allow("Donations");
    var canFunders = await allow("Funders");
    var canGrantAgreements = await allow("GrantAgreements");
    var canGrantInstallments = await allow("GrantInstallments");
    var showFunding = canDonors || canDonations || canFunders || canGrantAgreements || canGrantInstallments;

    var canKafalaSponsors = await allow("KafalaSponsors");
    var canKafalaCases = await allow("KafalaCases");
    var canKafalaPayments = await allow("KafalaPayments");
    var showKafala = canKafalaSponsors || canKafalaCases || canKafalaPayments;

    var canProjects = await allow("CharityProjects");
    var canProjectPhases = await allow("ProjectPhases");
    var canProjectGoals = await allow("ProjectGoals");
    var canProjectProposals = await allow("ProjectProposals");
    var canProjectTracking = await allow("ProjectTrackingLogs");
    var canProjectExpenseLinks = await allow("ProjectPhaseExpenseLinks");
    var canProjectStoreLinks = await allow("ProjectPhaseStoreIssueLinks");
    var showProjects = canProjects || canProjectPhases || canProjectGoals || canProjectProposals || canProjectTracking;

    var canVolunteers = await allow("Volunteers");
    var canVolunteerDirectory = await allow("VolunteerDirectory");
    var canVolunteerSkills = await allow("VolunteerSkillDefinitions");
    var canVolunteerAssignments = await allow("VolunteerProjectAssignments");
    var canVolunteerHours = await allow("VolunteerHourLogs");
    var showVolunteers = canVolunteers || canVolunteerDirectory || canVolunteerSkills || canVolunteerAssignments || canVolunteerHours;

    var canItems = await allow("Items");
    var canWarehouses = await allow("Warehouses");
    var canReceipts = await allow("CharityStoreReceipts");
    var canIssues = await allow("CharityStoreIssues");
    var canNeedRequests = await allow("StockNeedRequests");
    var canReturns = await allow("StockReturnVouchers");
    var canDisposals = await allow("StockDisposalVouchers");
    var canTransfers = await allow("StockTransfers");
    var canItemCard = await allow("StockItemCard");
    var showStores = canItems || canWarehouses || canReceipts || canIssues || canNeedRequests;

    var canSuppliers = await allow("Suppliers");
    var canPurchaseInvoices = await allow("PurchaseInvoices");
    var showProcurement = canSuppliers || canPurchaseInvoices;

    var canSalesInvoices = await allow("SalesInvoices");
    var canFindSales = await allow("FindSales");
    var canSalesReports = await allow("SalesReports");
    var canSalesReturns = await allow("SalesReturns");
    var showSales = canSalesInvoices || canFindSales || canSalesReports || canSalesReturns;

    var canHrEmployees = await allow("HrEmployees");
    var canHrAttendance = await allow("HrAttendanceRecords");
    var canPayrollMonths = await allow("PayrollMonths");
    var canHrMovements = await allow("HrEmployeeMovements");
    var canHrSanctions = await allow("HrSanctionRecords");
    var canHrOutRequests = await allow("HrOutRequests");
    var canHrPerformance = await allow("HrPerformanceEvaluations");
    var canHrContracts = await allow("HrEmployeeContracts");
    var canHrBonuses = await allow("HrEmployeeBonuses");
    var canLeaveRequests = await allow("HrLeaveRequests");
    var canEmployeeUserLink = await allow("EmployeeUserLink");
    var showHr = canHrEmployees || canHrAttendance || canPayrollMonths || canHrMovements || canHrSanctions || canHrOutRequests || canHrPerformance || canHrContracts || canHrBonuses || canEmployeeUserLink || canLeaveRequests;
   


    var canAccounting = await allow("Accounting");
    var canFinancialAccount = await allow("FinancialAccount");
    var canCostCenters = await allow("CostCenters");
    var canFiscalPeriods = await allow("FiscalPeriods");
    var canJournalEntries = await allow("JournalEntries");
    var canAccountingReports = await allow("AccountingReports");
    var canIntegrationProfiles = await allow("AccountingIntegrationProfiles");
    var canOperationalJournal = await allow("OperationalJournalEntries");
    var showFinance = canAccounting || canFinancialAccount || canCostCenters || canFiscalPeriods || canJournalEntries || canAccountingReports;

    var canBoardMeetings = await allow("BoardMeetings");
    var canBoardDecisions = await allow("BoardDecisions");
    var canBoardFollowUps = await allow("BoardDecisionFollowUps");
    var showMinutes = canBoardMeetings || canBoardDecisions || canBoardFollowUps;

    var canCharityReports = await allow("CharityReports");
    var canReportsCompare = await allow("ReportsCompare");
    var canCashFlow = await allow("CashFlow");
    var canBulkMessage = await allow("BulkMessage");
    var canNotifications = await allow("NotificationCenter");
    var canWorkflow = await allow("WorkflowBoard");
    var canAidCycleAlerts = await allow("AidCycleAlerts");
    var canUserPreferences = await allow("UserPreferences");
    var canRfpReports = await allow("RfpReports");
    var showReports = canCharityReports || canReportsCompare || canNotifications || canWorkflow || canAidCycleAlerts || canCashFlow || canBulkMessage;

    var canSecurityAdmin = await allow("SecurityAdmin");
    var canSecurityMatrix = await allow("Security");
    var canDemoData = await allow("DemoData");
    var canQaAudit = await allow("QaAudit");
    var showAdmin = canSecurityAdmin || canSecurityMatrix || canDemoData || canQaAudit;
}
<div class="vertical-menu" id="app-sidebar">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">

                @* ══════════════════════════════════════════
                   الرئيسية
                ══════════════════════════════════════════ *@
                @if (showHome)
                {
                    <li class="menu-title" key="t-main">الرئيسية</li>
                    @if (canDashboard)
                    {
                        <li><a href="@Url.Action("Index", "Dashboard3")" class="waves-effect"><i class="bx bx-home-circle"></i><span>لوحة التحكم</span></a></li>
                    }
                    @if (canDailySummary)
                    {
                        <li><a href="@Url.Action("Index", "DailySummary")" class="waves-effect"><i class="bx bx-sun"></i><span>ملخص اليوم</span></a></li>
                    }
                    @if (canSearch)
                    {
                        <li><a href="/Search" class="waves-effect"><i class="bx bx-search-alt-2"></i><span>البحث الموحد</span></a></li>
                    }
                    @if (canWorkspace)
                    {
                        <li><a href="@Url.Action("Index", "CharityWorkspace")" class="waves-effect"><i class="bx bx-briefcase-alt-2"></i><span>مساحة العمل اليومية</span></a></li>
                    }
                    @if (canCharityDashboard)
                    {
                        <li><a href="@Url.Action("Index", "CharityDashboard")" class="waves-effect"><i class="bx bx-pie-chart-alt-2"></i><span>لوحة مؤشرات الجمعية</span></a></li>
                    }
                    @if (canWorkflow)
                    {
                        <li><a href="@Url.Action("Index", "WorkflowBoard")" class="waves-effect"><i class="bx bx-git-branch"></i><span>لوحة سير العمل</span></a></li>
                        <li><a href="@Url.Action("Index", "MyBoard")" class="waves-effect"><i class="bx bx-fullscreen"></i><span>لوحة المهام</span></a></li>
                        
                    }
                }

                @* ══════════════════════════════════════════
                   العمل الخيري
                ══════════════════════════════════════════ *@
                @if (showBeneficiaries || showFunding || showKafala)
                {
                    <li class="menu-title">العمل الخيري</li>
                }

                @if (showBeneficiaries)
                {
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-user-circle"></i><span>المستفيدون والمساعدات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canBeneficiaries)
                            {
                                <li><a href="@Url.Action("Index", "Beneficiaries")">المستفيدون</a></li>
                            }
                            @if (canBeneficiaryCard)
                            {
                                <li><a href="@Url.Action("EarlyWarning", "BeneficiaryCard")"><i class="bx bx-error-circle me-1"></i>لوحة الإنذار المبكر</a></li>
                            }
                            @if (canAidRequests)
                            {
                                <li><a href="@Url.Action("Index", "BeneficiaryAidRequests")">طلبات المساعدة</a></li>
                                <li><a href="@Url.Action("Index", "AidTypes")"><i class="bx bx-heart me-1"></i>أنواع المساعدات</a></li>
                            }
                            @if (canAidDisbursements)
                            {
                                <li><a href="@Url.Action("Index", "BeneficiaryAidDisbursements")">سجل الصرف</a></li>
                            }
                            @if (canAidCycles)
                            {
                                <li><a href="@Url.Action("Index", "AidCycles")">دورات الصرف</a></li>
                                <li><a href="@Url.Action("DueList", "AidCycleBeneficiaries")">الاستحقاقات القادمة</a></li>
                            }
                            @if (canResearch)
                            {
                                <li><a href="@Url.Action("Index", "BeneficiaryHumanitarianResearchs")">استمارات البحث الإنساني</a></li>
                            }
                        </ul>
                    </li>
                }

                @if (showFunding)
                {
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-heart"></i><span>التبرعات والتمويل</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canDonors)
                            {
                                <li><a href="@Url.Action("Index", "Donors")">المتبرعون</a></li>
                            }
                            @if (canDonations)
                            {
                                <li><a href="@Url.Action("Index", "Donations")">سجل التبرعات</a></li>
                            }
                            @if (canFunders)
                            {
                                <li><a href="@Url.Action("Index", "Funders")">الممولون</a></li>
                            }
                            @if (canGrantAgreements)
                            {
                                <li><a href="@Url.Action("Index", "GrantAgreements")">اتفاقيات التمويل</a></li>
                            }
                            @if (canGrantInstallments)
                            {
                                <li><a href="@Url.Action("Index", "GrantInstallments")">دفعات التمويل</a></li>
                            }
                        </ul>
                    </li>
                }

                @if (showKafala)
                {
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-donate-heart"></i><span>الكفالات والرعاية</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canKafalaSponsors)
                            {
                                <li><a href="@Url.Action("Index", "KafalaSponsors")">الكفلاء</a></li>
                            }
                            @if (canKafalaCases)
                            {
                                <li><a href="@Url.Action("Index", "KafalaCases")">حالات الكفالة</a></li>
                            }
                            @if (canKafalaPayments)
                            {
                                <li><a href="@Url.Action("Index", "KafalaPayments")">مدفوعات الكفالة</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   المشروعات
                ══════════════════════════════════════════ *@
                @if (showProjects)
                {
                    <li class="menu-title">المشروعات والمتابعة</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-briefcase"></i><span>المشروعات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canProjects)
                            {
                                <li><a href="@Url.Action("Index", "CharityProjects")">المشروعات</a></li>
                            }
                            @if (canProjectProposals)
                            {
                                <li><a href="@Url.Action("Index", "ProjectProposals")"><i class="bx bx-file-blank me-1"></i>مقترحات المشروعات</a></li>
                            }
                            @if (canProjectPhases)
                            {
                                <li><a href="@Url.Action("Index", "ProjectPhases")">مراحل المشروع</a></li>
                            }
                            @if (canProjectGoals)
                            {
                                @* <li><a href="@Url.Action("Index", "ProjectGoals")"><i class="bx bx-target-lock me-1"></i>الأهداف والأنشطة</a></li> *@
                            }
                            @if (canProjectTracking)
                            {
                                <li>
                                    <a asp-controller="ProjectFinancialControlReports" asp-action="Index">
                                        <i class="bx bx-line-chart"></i>
                                        <span>الرقابة المالية للمشروعات</span>
                                    </a>
                                </li>
                                <li><a href="@Url.Action("Index", "ProjectTrackingLogs")">سجل المتابعة</a></li>
                            }
                            @if (canProjectExpenseLinks)
                            {
                                <li><a href="@Url.Action("Index", "ProjectPhaseExpenseLinks")">ربط مصروفات المراحل</a></li>
                            }
                            @if (canProjectStoreLinks)
                            {
                                <li><a href="@Url.Action("Index", "ProjectPhaseStoreIssueLinks")">ربط الصرف المخزني</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   التطوع
                ══════════════════════════════════════════ *@
                @if (showVolunteers)
                {
                    <li class="menu-title">التطوع والمشاركة</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-group"></i><span>المتطوعون</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canVolunteers)
                            {
                                <li><a href="@Url.Action("Index", "Volunteers")">المتطوعون</a></li>
                            }
                            @if (canVolunteerDirectory)
                            {
                                <li><a href="@Url.Action("Index", "VolunteerDirectory")">دليل المتطوعين</a></li>
                            }
                            @if (canVolunteerSkills)
                            {
                                <li><a href="@Url.Action("Index", "VolunteerSkillDefinitions")">تعريف المهارات</a></li>
                            }
                            @if (canVolunteerAssignments)
                            {
                                <li><a href="@Url.Action("Index", "VolunteerProjectAssignments")">إسناد المتطوعين</a></li>
                            }
                            @if (canVolunteerHours)
                            {
                                <li><a href="@Url.Action("Index", "VolunteerHourLogs")">ساعات التطوع</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   المخازن والمشتريات
                ══════════════════════════════════════════ *@
                @if (showStores || showProcurement)
                {
                    <li class="menu-title">المخازن والمشتريات</li>
                }

                @if (showStores)
                {
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-package"></i><span>إدارة المخازن</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canItems)
                            {
                                <li><a href="@Url.Action("Index", "Items")">الأصناف</a></li>
                            }
                            @if (canWarehouses)
                            {
                                <li><a href="@Url.Action("Index", "Warehouses")">المخازن</a></li>
                            }
                            @if (canNeedRequests)
                            {
                                <li><a href="@Url.Action("Index", "StockNeedRequests")"><i class="bx bx-plus-circle me-1"></i>طلبات الاحتياج</a></li>
                            }
                            @if (canReceipts)
                            {
                                <li><a href="@Url.Action("Index", "CharityStoreReceipts")">أذون الإضافة</a></li>
                            }
                            @if (canIssues)
                            {
                                <li><a href="@Url.Action("Index", "CharityStoreIssues")">أذون الصرف</a></li>
                            }
                            @if (canReturns)
                            {
                                <li><a href="@Url.Action("Index", "StockReturnVouchers")">المرتجعات</a></li>
                            }
                            @if (canDisposals)
                            {
                                <li><a href="@Url.Action("Index", "StockDisposalVouchers")">الإعدام والهالك</a></li>
                            }
                            @if (canTransfers)
                            {
                                <li><a href="@Url.Action("InvoiceStockReconciliation", "InventoryAuditReports")">التحويلات المخزنية</a></li>
                                <li><a href="@Url.Action("Create", "StockTransfers")">التحويلات المخزنية</a></li>
                            }
                            @if (canItemCard)
                            {
                                <li><a href="@Url.Action("Index", "StockItemCard")">كارت الصنف</a></li>
                            }
                        </ul>
                    </li>
                }

                @if (showProcurement)
                {
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-cart-alt"></i><span>المشتريات والتوريدات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canSuppliers)
                            {
                                <li><a href="@Url.Action("Index", "Suppliers")">الموردون</a></li>
                                <li><a href="@Url.Action("Index", "SupplierPayments")"><i class="bx bx-money me-1"></i>مستحقات الموردين</a></li>
                                <li>
                                    <a asp-controller="SupplierDuesPayments" asp-action="Index">
                                        <i class="bx bx-store"></i>
                                        <span>مدفوعات ومستحقات الموردين</span>
                                    </a>
                                </li>
                            }
                            @if (canPurchaseInvoices)
                            {
                                <li><a href="@Url.Action("Index", "PurchaseInvoices")">فواتير الشراء</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (showExpenses)
                {
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-money-withdraw"></i><span>المصروفات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canExpenses)
                            {
                                <li><a href="@Url.Action("Index", "Expenses")"><i class="bx bx-list-ul me-1"></i>قائمة المصروفات</a></li>
                                <li><a href="@Url.Action("Create", "Expenses")"><i class="bx bx-plus-circle me-1"></i>تسجيل مصروف جديد</a></li>
                            }
                            @if (canExpenseCategories)
                            {
                                <li><a href="@Url.Action("Index", "ExpenseCategories")"><i class="bx bx-category me-1"></i>تصنيفات المصروفات</a></li>
                            }
                        </ul>
                    </li>
                }
                @if (showSales)
                {
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-store"></i><span>المبيعات والإيرادات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canSalesInvoices)
                            {
                                <li><a href="@Url.Action("Index", "SalesInvoices")">فواتير البيع</a></li>
                            }
                            @if (canFindSales)
                            {
                                <li><a href="@Url.Action("Index", "FindSales")">بحث المبيعات</a></li>
                                <li>
                                    <a asp-controller="CustomerPayments" asp-action="Index">
                                        مستحقات العملاء
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="CustomerDuesPayments" asp-action="Index">
                                        <i class="bx bx-user-circle"></i>
                                        <span>مستحقات ومدفوعات العملاء</span>
                                    </a>
                                </li>
                            }
                            @if (canSalesReports)
                            {
                                <li><a href="@Url.Action("Index", "SalesReports")">تقارير الإيرادات</a></li>
                            }
                            @if (canSalesReturns)
                            {
                                <li><a href="@Url.Action("Index", "SalesReturns")">مرتجعات المبيعات</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   الموارد البشرية
                ══════════════════════════════════════════ *@
                @if (showHr)
                {
                    <li class="menu-title">الموارد البشرية</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-id-card"></i><span>الموارد البشرية والمرتبات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canHrEmployees)
                            {
                                <li><a href="@Url.Action("Index", "HrEmployees")">الموظفون</a></li>
                            }
                            @if (canEmployeeUserLink)
                            {
                                <li><a href="@Url.Action("Index", "EmployeeUserLink")"><i class="bx bx-link me-1"></i>ربط الموظفين بالمستخدمين</a></li>
                            }
                            @if (canHrAttendance)
                            {
                                <li><a href="@Url.Action("Index", "HrAttendanceRecords")">الحضور والانصراف</a></li>
                            }
                            @if (canPayrollMonths)
                            {
                                <li><a href="@Url.Action("Index", "PayrollMonths")">المرتبات</a></li>
                            }
                            @if (canHrMovements)
                            {
                                <li><a href="@Url.Action("Index", "HrEmployeeMovements")">الحركات الوظيفية</a></li>
                            }
                            @if (canHrSanctions)
                            {
                                <li><a href="@Url.Action("Index", "HrSanctionRecords")">الجزاءات</a></li>
                            }
                            @if (canHrOutRequests)
                            {
                                <li><a href="@Url.Action("Index", "HrOutRequests")">طلبات الخروج</a></li>
                            }
                            @if (canHrPerformance)
                            {
                                <li><a href="@Url.Action("Index", "HrPerformanceEvaluations")">تقييم الأداء</a></li>
                            }
                            @if (canHrContracts)
                            {
                                <li><a href="/HrEmployeeContracts">عقود الموظفين</a></li>
                            }
                            @if (canHrBonuses)
                            {
                                <li><a href="/HrEmployeeBonuses">المكافآت</a></li>
                            }
                            @if (canLeaveRequests)
                            {
                                <li><a href="@Url.Action("Index", "HrLeaveRequests")"><i class="bx bx-calendar-minus me-1"></i>الإجازات</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   المالية والمحاسبة
                ══════════════════════════════════════════ *@
                @if (showFinance)
                {
                    <li class="menu-title">المالية والمحاسبة</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-wallet"></i><span>المالية والمحاسبة</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canAccounting)
                            {
                                <li><a href="@Url.Action("Index", "Accounting")">الصفحة المحاسبية</a></li>
                            }
                            @if (canFinancialAccount)
                            {
                                <li><a href="@Url.Action("Index", "FinancialAccount")">الدليل المحاسبي</a></li>
                            }
                            @if (canTreasuryBank)
                            {
                                <li><a href="@Url.Action("Index", "TreasuryBank")">الخزينة والبنك</a></li>
                            }
                            @if (canCostCenters)
                            {
                                <li><a href="@Url.Action("Index", "CostCenters")">مراكز التكلفة</a></li>
                            }
                            @if (canFiscalPeriods)
                            {
                                <li><a href="@Url.Action("Index", "FiscalPeriods")">الفترات المالية</a></li>
                                <li>
                                    <a asp-controller="FiscalPeriodClosing" asp-action="Index">
                                        <i class="bx bx-lock-alt"></i>
                                        <span>إقفال الفترات المالية</span>
                                    </a>
                                </li>

                                <li>
                                    <a asp-controller="FiscalPeriodClosingEntries" asp-action="Index">
                                        <i class="bx bx-transfer-alt"></i>
                                        <span>قيود الإقفال</span>
                                    </a>
                                </li>
                            }
                            @if (canJournalEntries)
                            {
                                <li><a href="@Url.Action("Index", "JournalEntries")">القيود اليومية</a></li>
                            }
                            @if (canAccountingReports)
                            {
                                <li><a href="@Url.Action("Index", "AccountingReports")">التقارير المحاسبية</a></li>
                            }
                            @if (canIntegrationProfiles)
                            {
                                <li><a href="@Url.Action("Index", "AccountingIntegrationProfiles")">Profiles الربط المحاسبي</a></li>
                            }
                            @if (canOperationalJournal)
                            {
                                <li><a href="@Url.Action("Index", "OperationalJournalEntries")">ربط الحركات بالقيود</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   المحاضر والقرارات
                ══════════════════════════════════════════ *@
                @if (showMinutes)
                {
                    <li class="menu-title">المحاضر والقرارات</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-notepad"></i><span>المحاضر والقرارات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canBoardMeetings)
                            {
                                <li><a href="@Url.Action("Index", "BoardMeetings")">الاجتماعات</a></li>
                            }
                            @if (canBoardDecisions)
                            {
                                <li><a href="@Url.Action("Index", "BoardDecisions")">القرارات والتوصيات</a></li>
                                <li><a href="@Url.Action("Search", "BoardDecisions")"><i class="bx bx-search me-1"></i>البحث الذكي في القرارات</a></li>
                            }
                            @if (canBoardFollowUps)
                            {
                                <li><a href="@Url.Action("Index", "BoardDecisionFollowUps")">متابعة تنفيذ القرارات</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   التقارير والتنبيهات
                ══════════════════════════════════════════ *@
                @if (showReports)
                {
                    <li class="menu-title">التقارير والتنبيهات</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-bar-chart-alt-2"></i><span>التقارير</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canCharityReports)
                            {
                                <li><a href="@Url.Action("Index", "CharityReports")">التقارير العامة</a></li>
                            }
                            @if (canReportsCompare)
                            {
                                <li><a href="@Url.Action("Index", "ReportsCompare")"><i class="bx bx-bar-chart-alt-2 me-1"></i>المقارنة الزمنية</a></li>
                            }
                            @if (canCashFlow)
                            {
                                <li><a href="@Url.Action("Index", "CashFlow")"><i class="bx bx-trending-up me-1"></i>التدفق النقدي</a></li>
                            }
                            @if (canBulkMessage)
                            {
                                <li><a href="@Url.Action("Index", "BulkMessage")"><i class="bx bx-broadcast me-1"></i>الرسائل الجماعية</a></li>
                            }
                            @if (canNotifications)
                            {
                                <li><a href="@Url.Action("Index", "NotificationCenter")"><i class="bx bx-bell me-1"></i>مركز التنبيهات</a></li>
                            }
                            @if (canAidCycleAlerts)
                            {
                                <li><a href="@Url.Action("Index", "AidCycleAlerts")">تنبيهات الصرف الشهري</a></li>
                            }
                            @if (canUserPreferences)
                            {
                                <li><a href="@Url.Action("Index", "UserPreferences")"><i class="bx bx-cog me-1"></i>تفضيلاتي</a></li>
                            }
                            @if (canRfpReports)
                            {
                                <li><a href="/RfpReports"><i class="bx bx-line-chart me-1"></i>تقارير الـ RFP</a></li>
                            }
                        </ul>
                    </li>
                }

                @* ══════════════════════════════════════════
                   الإدارة والنظام
                ══════════════════════════════════════════ *@
                @if (showAdmin)
                {
                    <li class="menu-title">إدارة النظام</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-shield-quarter"></i><span>الإدارة والصلاحيات</span></a>
                        <ul class="sub-menu" aria-expanded="false">
                            @if (canSecurityAdmin)
                            {
                                <li><a href="@Url.Action("Index", "SecurityAdmin")">إدارة المستخدمين والصلاحيات</a></li>
                            }
                            @if (canSecurityMatrix)
                            {
                                <li><a href="@Url.Action("PermissionsMatrix", "Security")">مصفوفة الصلاحيات</a></li>
                                <li><a href="@Url.Action("Index", "UserActivitylogs")">سجل المتابعة </a></li>
                            }
                            @if (canEmployeeUserLink)
                            {
                                <li><a href="@Url.Action("Index", "EmployeeUserLink")"><i class="bx bx-link me-1"></i>ربط الموظفين بالمستخدمين</a></li>
                            }
                            @if (canDemoData)
                            {
                                <li><a asp-controller="DemoData" asp-action="Index">البيانات التجريبية</a></li>
                            }
                            @if (canQaAudit)
                            {
                                <li><a asp-controller="QaAudit" asp-action="Index" class="waves-effect">فحص النظام</a></li>
                            }
                        </ul>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
